body{
	padding-top: 50px;
	width: 100% !important;

}

.row{
	border: 1px solid black;
	width: 100% !important;
}

.space1{
	float: right;

}
.space2{
	float: left;

}

.card{}
	

.card-avatar{
	height: 200px;
	width: 200px;
}